{% load static %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <title>Accueil | Pizza Mama</title>
</head>
<body>
    <div class="centered">
        <img src="{% static 'main/images/main_logo.png' %}" alt="Logo Pizza Mama">
        <a href="{% url 'menu:index' %}">Voir le menu des pizzas</a>
    </div>
</body>
</html>